VITE_SUPABASE_URL=https://xmctkmlpvjlkivufvjba.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_yQYg1QjBZEeqgrjsvRbEug_o4ARwCEz
VITE_SUPABASE_ANON_KEY=sb_publishable_yQYg1QjBZEeqgrjsvRbEug_o4ARwCEz
VITE_API_BASE_URL=https://contract-ai-backend-lfwy.onrender.com
